variables:
  SERVER_IP: $PLAYGROUND_SERVER_IP

stages:
  - deploy

deploy:
  image: docker:24
  services:
    - name: docker:24-dind
      alias: dockerhost
  stage: deploy
  tags:
    - deployment4docker
  variables:
    DOCKER_HOST: ssh://${SERVER_USER}@${SERVER_IP}
    DOCKER_CLIENT_TIMEOUT: 900
    COMPOSE_HTTP_TIMEOUT: 900
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk update && apk add openssh-client)'
    - eval $(ssh-agent -s)
    - cat "${ID_RSA}" | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_IP > ~/.ssh/known_hosts
  script:
    - apk add --no-cache docker-compose
    - echo "server to deploy is - $SERVER_IP"
    - ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /opt/bi-platform && git pull"
    - ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /opt/bi-platform && docker-compose -f docker-compose.prod.yml down"
    - ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /opt/bi-platform && docker-compose -f docker-compose.prod.yml up -d --build"
  only:
    refs:
      - main