variables:
  SERVER_IP: $PLAYGROUND_SERVER_IP
  HARBOR_SERVER_DOMAIN: harbor-dev.rbtdigitalmobile.ru
  TAG_LATEST: $HARBOR_SERVER_DOMAIN/data/$CI_PROJECT_NAME/$CI_COMMIT_REF_NAME:latest
  HARBOR_USER_CI: robot-data-ci

stages:
  - build
  - deploy

build:
  image: docker:24
  stage: build
  timeout: 60m
  tags:
    - deployment4docker
  services:
    - name: docker:24-dind
      alias: dockerhost
  variables:
    DOCKER_HOST: tcp://dockerhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo $CI_BUILD_TOKEN | docker login -u $HARBOR_USER_CI --password-stdin $CI_REGISTRY_IMAGE
    - docker pull $TAG_LATEST || true
    - docker build --cache-from $TAG_LATEST -t $TAG_LATEST .
    - docker push $TAG_LATEST
  only:
    refs:
      - main

deploy:
  image: docker:24
  services:
    - name: docker:24-dind
      alias: dockerhost
  stage: deploy
  tags:
    - deployment4docker
  variables:
    DOCKER_HOST: ssh://${SERVER_USER}@${SERVER_IP}
    DOCKER_CLIENT_TIMEOUT: 900
    COMPOSE_HTTP_TIMEOUT: 900
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk update && apk add openssh-client)'
    - eval $(ssh-agent -s)
    - cat "${ID_RSA}" | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_IP > ~/.ssh/known_hosts
  script:
    - apk add --no-cache docker-compose
    - echo $CI_BUILD_TOKEN | docker login -u $HARBOR_USER_CI --password-stdin $CI_REGISTRY_IMAGE
    - ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull $TAG_LATEST"
    - ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /opt/bi-platform && docker-compose -f docker-compose.prod.yml down"
    - ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /opt/bi-platform && docker-compose -f docker-compose.prod.yml up -d"
  only:
    refs:
      - main